@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
}

:root {
    --primary-color: #457b9d;
    --white: white;
    --off-white: #F3F4F6;
    --dark-gray: #6B7280;
    --projects: #06395896;
}

.pagewrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.navbar {
    background-color: var(--primary-color);
    padding: 0.5rem;
}

.lists {
    list-style: none;
}

.lists li {
    font-size: 25px;
    padding-inline: 2rem;
    padding-inline-start: 0rem;
    display: inline;
}

.link {
    text-decoration: none;
    color: var(--white);
}

.active {
    font-weight: bold;
}

li :hover {
    color: var(--projects);
}

.main {
    width: 90%;
    max-width: 600px;
    margin: auto;
    flex-grow: 1;
}

.sides-div {
    margin-top: 3rem;
    text-align: center;
}

.sides-div h1 {
    text-align: center;
    font-size: 35px;
}

.sides-div p {
    text-align: justify;
    font-size: 20px;
    margin: 2rem 1rem;
}

.sides-div label {
    text-align: center;
    font-size: 18px;
    margin: 2rem;
}

.sides-div input {
    padding: 0.5rem;
    text-align: center;
    width: 80%;
    max-width: 300px;
    margin: auto;
    border: 1px solid var(--primary-color);
    border-radius: 15px;
}

.btn {
    background-color: var(--primary-color);
    border: 0px;
    border-radius: 10px;
    color: var(--white);
    padding: 0.5rem;
    font-size: 18px;
    margin-top: 1.5rem;
    cursor: pointer;
}

.sides-div .opt {
    padding: 0.5rem, 0rem;
    border-radius: 10px;
    text-align: center;
    border: 1px solid var(--primary-color);
}

.output {
    display: none;
}

.heading {
    text-align: center;
    margin-top: 2rem;
}

.heading h1 {
    color: var(--primary-color);
}

.heading p {
    font-size: 22px;
}

.question-container {
    box-sizing: border-box;
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    padding: 1rem;
    margin-top: 2rem;
    font-size: 18px;
}

.question-container p {
    margin-bottom: 0.5rem;
}

.question-container label {
    padding-inline-start: 0rem;
    padding-inline: 0.5rem;
    cursor: pointer;
}

.question-container input {
    cursor: pointer;
    margin: 0rem 0.4rem;
}


/* Footer */

.footer {
    margin: 1rem 2rem 0rem 2rem;
    border-top: 2px solid var(--primary-color);
}

.footer div {
    color: var(--primary-color);
    text-align: center;
}

.footer p {
    padding-top: 0.5rem;
    font-size: 20px;
    font-weight: 500;
}

.footer a {
    padding-inline: 1rem;
    font-size: 29px;
    color: var(--primary-color);
    text-decoration: none;
}

.footer .with-para {
    padding-inline: 0rem;
    font-size: 20px;
    color: var(--primary-color);
    text-decoration: none;
}